gitpython
pytest
dogpile.cache==0.6.5
docker~=3.1.0
pytest-flake8
pytest-cov
pytest-mock
requests
python-vagrant
fabric3
entrypoints>=0.2.3
flake8
sphinx
sphinx-autobuild
sphinx_rtd_theme==0.4.3
cached-property
